@media screen and (min-width: 481px) {
    header, main, footer {
        max-width: 2000px;
    }
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .container {
        position: relative;
        text-align: center;
        display: flex;
    }
    .smallImage {
        display: none;
    }
    .largeImage.show {
        display: block;
        height: auto;
        width: 100%;
    }
    .data {
        position: absolute;
        top: 150px;
        left: 16px;
        background-color: blue;
    }
    .weather {
        position: absolute;
        bottom: 50px;
        right: 16px;
    }
    .sunny {
        display: inline-block;
    }
}